/.Xil/
/*.cache/
/*.gen/
/*.hw/
/*.runs/
*.xsa

/Workspace/.analytics
/Workspace/.metadata/
/Workspace/NASA_ACQ_platform/
/Workspace/NASA_ACQ_system/

/drivers/
/NASA_ACQ.srcs/sources_1/bd/bd/ip/bd_iic_quartz_0/
/NASA_ACQ.srcs/sources_1/hdl/gpio.v
/NASA_ACQ.srcs/sources_1/hdl/firmwareBuildDate.v

*.log
*.jou
